 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

body {
  font-size: 100%;
  font-family: $verdana;
}

.mega-wrapper {
  width: 100%;
}

header {
  position:relative;
  width: 90%;
  text-align: center;
  background-image: url('http://www.worldofmaps.net/uploads/pics/Sukhothai-thailand_01.jpg');
  background-position: center center;
  background-size: cover;
  height: em(200px);
  margin: 0 auto;

  h1{
    color:white;
    font-size: 3.5em;
    padding-top: 60px;
    background-color: HSLA(77, 59%, 31%, .3);
    margin: 0;
    height: 100%;
  }
}

section {
  position: relative;
  height: 500px;
  background-color: HSLA(77, 59%, 31%, .5);
  width: 90%;
  margin: 0 auto;

  .menu-list {
    margin: 0;
    padding: 0;
    height: 498px;
    overflow: hidden;
  }

  .menu-item {
    outline: 2px blue solid;
  }
}

footer{
  position:relative;
  width: 90%;
  text-align: center;
  background-color: HSLA(77, 59%, 31%, 1);
  margin: 0 auto;

  h5{
    display: inline-block;
    width: 30%;
    color: white;
  }

  p{
    display: inline-block;
    width: 30%;
    color: white;
    font-size: .75em;
  }

}

@media (min-width: 740px) {
  .footer {
    h5 {
      font-size: .75em;
    }
    p{
      font-size: .5em;
    }
  }
}


