 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

body {
  font-size: 100%;
  font-family: $verdana;
  // background-image: url('http://cache2.asset-cache.net/gc/148936417-detail-of-carved-wooden-door-with-floral-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=Qe3TY8UMcNEyEifK50lD8koW33BjNK4eUFkr2lfUuTk%3D');
  // background-repeat: repeat;
}

.mega-wrapper {
  width: 100%;
}

@keyframes names-change {
  0%{
    color: white;
    background-color: HSLA(60, 8%, 8%, .3);
  }
  10%{
    color: HSLA(67, 4%, 55%, 1);
    background-color: HSLA(60, 2%, 24%, .3);
  }
  30%{
    color: HSLA(60, 2%, 24%, 1);
    background-color: HSLA(67, 4%, 55%, .3);
  }
  50%{
    color: black;
    background-color: HSLA(0, 0%, 100%, .3);
  }
  70%{
    color: HSLA(60, 2%, 24%, 1);
    background-color: HSLA(67, 4%, 55%, .3);
  }
  80%{
    color: HSLA(67, 4%, 55%, 1);
    background-color: HSLA(60, 2%, 24%, .3);
  }
  100%{
    color: white;
    background-color: HSLA(60, 8%, 8%, .3);
  }
}

header {
  position:relative;
  width: 90%;
  text-align: center;
  background-image: url('http://www.worldofmaps.net/uploads/pics/Sukhothai-thailand_01.jpg');
  background-position: center center;
  background-size: cover;
  height: em(200px);
  margin: 0 auto;

  h1{
    color:white;
    font-size: 3.5em;
    padding-top: 60px;
    background-color: HSLA(60, 2%, 24%, .3);
    //HSLA(77, 59%, 31%, .26);
    margin: 0;
    height: 100%;
    animation: names-change 4s .75s alternate;
  }
}

.menu-wrapper {
  position: relative;
  background-color: HSLA(77, 59%, 31%, 1);
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  padding: 15px 25px;

  .menu-filters {
    display: inline;
    list-style: none;
    margin-top: 0;
    padding: 0;

    .item-name {
        display: block;
        font-size: .9em;
        margin-bottom: 10px;
        margin-top: 0;
        padding: 0;
    }
    
    .total-cost {
      display: inline-block;
      font-size: 1.25em;
      color: white;
      margin-right: 50px;
    }
  }
}
.content-background {
  background-color:white;
  width: 90%;
  position: relative;
  margin: 0 auto;
}

.content-wrapper {
  position: relative;
  height: 500px;
  background-color: HSLA(77, 59%, 31%, .5);
  overflow: auto;
  padding: 25px;

  .menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu-item {
    margin-bottom: 40px;

    .item-image {
      display: inline;

      img {
        height: 150px;
        width: 200px;
        object-fit: cover;
        border-radius: 50% 2% 50% 2%;
        margin-right: 10px;
        border: solid 1px HSLA(77, 59%, 31%, 1);
      }
    }
    
    .item-info {
      display: inline;
      position: absolute;
      margin: 10px;

      h3 {
        display: inline-block;
        margin: 0;
      }

      .price {
        display: inline-block;
        margin: 0;
      }

      .description {
        display: block;
        margin: 0;
      }
    }  

    button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: absolute;
      margin-top: 85px;
      margin-left: 10px;
      background-color: HSLA(77, 59%, 31%, 1);
      color: white;
      width: 200px;
      border-radius: 10px;
    }
  }
}

footer{
  position:relative;
  width: 90%;
  text-align: center;
  background-color: HSLA(77, 59%, 31%, 1);
  margin: 0 auto;

  h5{
    display: inline-block;
    width: 30%;
    color: white;
  }

  p{
    display: inline-block;
    width: 30%;
    color: white;
    font-size: .75em;
  }

}


