 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

body {
  font-size: 100%;
  font-family: $verdana;
}

.mega-wrapper {
  width: 100%;
}

header {
  position:relative;
  width: 90%;
  text-align: center;
  background-image: url('http://www.worldofmaps.net/uploads/pics/Sukhothai-thailand_01.jpg');
  background-position: center center;
  background-size: cover;
  height: 200px;
  margin: 0 auto;

  h1{
    color:white;
    background-color: black;
    margin: 0;
  }
}

section {
  position: relative;
  height: 500px;
  background-color: HSLA(77, 59%, 31%, .5);
  width: 90%;
  margin: 0 auto;
}

footer{
  position:relative;
  width: 90%;
  text-align: center;
  background-color: HSLA(77, 59%, 31%, 1);
  margin: 0 auto;

  h3{
    display: inline-block;
    width: 30%;
    color: white;
  }

  p{
    display: inline-block;
    width: 30%;
    color: white;
  }
}



