<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Majestic Thai Restaurant</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <div class="mega-wrapper">
    
        <header class="header-container">
            <h1>Majestic Thai</h1>
        </header>
    
        <section class="content-wrapper"></section>
        
        <footer class="footer-wrapper">
            <p>1-864-333-3333</p>
            <h5>Majestic Thai</h5>
            <p>411 University Ridge, <br>Greenville, SC 29601</p>
        </footer>
    
    </div>
   
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <script src="../bower_components/firebase/firebase.js"></script>
    <script src="../bower_components/backfire/backbone-firebase.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="https://cdn.firebase.com/js/client/1.0.24/firebase.js"></script>

    <!-- templates -->
    <script type="text/template" id="templates-menu-item">
        <div class="item-image"><%= image %></div>
        <div class="item-info">
            <h3><%= name %></h3>
            <p><%= price %></p>
            <p><%= description %></p>
        </div>
    </script>

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
</body>
</html>
